<h1><%= @article.title %></h1>
<p><%= @article.body %></p>
<br>
<%= link_to "edit post", edit_article_path(@article) %>
|
<%= link_to 'delete', article_path(@article),
        method: :delete,
        data: {confirm: "You sure bout dat?"} %>
<br>

<h3>Comments</h3>
<%= render partial: 'articles/comment',
            collection: @article.comments %>

<%= link_to "<< Back to all articles", articles_path %>
